.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  
  .upperHalf {
    .itemName {
          width: 300px;
          font-type: sans-serif;
    }
    .itemImage {
          width: 100px;
    }   
    .itemPrice{
            font-weight: bold;
            color: #eeeee;
    }
    .itemTotalCost{
            font-weight: bold;
            color: #C23456;
    }
  }

  .horizontalBar {
    clear: both;
    position: relative;
    margin-top: 20px;
    height: 1px;
    background-color: #dddddd;
  }

  .lowerHalf {
    
    margin-top: 20px;
    margin-bottom: 50px;
    .lowerLeft{
      float: left;
      .operationButton {
          margin-left: 10px;
          margin-right: 10px;
      }
    }
    .lowerRight{
      float: right;
      .totalCaption{
          margin-left: 30px;
          margin-right: 10px;
          font-size: 20px;
          font-weight: bold;
      }
      .total {
          width: 60px;
          font-size: 20px;
          font-weight: bold;
          color: #C23456;
      }
      .payButton {
          margin-left: 10px;
          margin-right: 10px;
          font-size: 16px;        
      }
    }
  }
}
