.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  
  .upperHalf {
    .itemRecord {
      width: 850px;

      .checkboxCol {
        width: 30px;
      }

      .imgCol {
        padding-right: 20px;
      }

       .img {
        width: 130px;
      }   

      .itemNameCol {
        width: 300px;
        font-size: 25px;
        font-type: sans-serif;
      }

      .amountCol{
        width: 200px;
      }
      .priceCol{
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        color: #C23456;
      }
    }
  }

  .horizontalBar {
    clear: both;
    position: relative;
    margin-top: 20px;
    height: 1px;
    background-color: #dddddd;
  }


  .lowerHalf {
    .operationCol {
      width: 300px;
      .operationButton {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .totalCaption {
        width: 60px;
        font-size: 20px;
        font-weight: bold;
    }

    .total {
        width: 60px;
        font-size: 20px;
        font-weight: bold;
        color: #C23456;
    }

    .placeHolder {
      width: 200px;    
    }

    .payButton {
        padding-left: 30px;
        padding-right: 30px;
    }
  }
}