.card {
  margin: 10px 10px 0px;
  cursor: pointer;
  & > div > img {
    width: 160px;
    height: 160px;
  }
  :global(.ant-card-body) {
    padding: 0px 0px;
  }
  &:global(.ant-card):hover {
    box-shadow: 0 1px 6px rgba(198, 53, 85, 0.2);
    border-color: #c63555;
  }
  .info {
    padding: 10px;
    .name {
      line-height: 30px;
      float: left;
    }
    .price {
      line-height: 30px;
      float: right;
      color: #c63555;
      font-size: 20px;
      &::before {
        content: '¥';
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
