.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;

  .mypicker{
    float:left;
  }
  .mybutton{
    text-align:right;
    .withdrawal{
      border-radius:10px;
      margin-left:10px;
    }
  }
}
