.table{
	padding:30px;
}



 .picker {
    width: 200px;
    border-top: solid 1px #c3c3c3;
    border-left: solid 1px #c3c3c3;
    border-right: solid 1px #c3c3c3;
    border-radius: 2px;
  }

  .picker:hover {
    border-color: #d25f77;
  }
