.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  
  .mypicker {
  float:left;
  }
  .info_button {
  .withdrawal{
    border-radius:10px;
  }
  text-align: right;
  margin-right: 30px;
  }
  
}
