.modal:global(.ant-modal) {
  .chatUsers {
    width: 200px;
    display: inline-block;
    float: left;
    .newMsg{
      background-color: orangered;
    }
    div {
      cursor: pointer;
      padding: 8px 20px;
    }
  }
  .chatMain {
    height: 300px;
    width: 400px;
    display: inline-block;
    .chatDisplay {
      border-left: 1px solid gray;
      overflow-x: auto;
      overflow-y: auto;
      height: 80%;
      word-wrap: break-word;
      position: relative;
      text-align: left;
      .chatItemOther {
        padding: 8px 20px;
        float: left;
        clear: both;
      }
      .chatItemUser {
        padding: 8px 20px;
        float: right;
        clear: both;
      }
    }
    .chatInput {
      .chatSubmit {
        float: right;
        margin-right: 20px;
      }
    }
  }
  max-height: 460px;
  font-size: 16px;
  width: 800px !important;
}
