controllers/admin.js
controllers/auditor.js
controllers/order.js
views/components/AdminJudgment/index.js
views/components/AdminRegisterPage/index.js
views/components/AdminVerifyDetail/index.js
views/redux/modules/shopping.js
views/redux/modules/index.js
views/redux/modules/auditor.js
views/redux/modules/admin.js
views/redux/modules/account.js
views/index.js
views/components/ShoppingWelcomePage/index.js
views/components/ShoppingOrderPageTable/index.js
views/components/ShoppingOrderPage/index.js
views/components/ShoppingMenu/index.js
views/components/ShoppingItemPage/index.js
views/components/ShoppingItemManageTable/index.js
views/components/ShoppingItemManage/index.js
views/components/ShoppingInfoPage/index.js
views/components/ShoppingCartModal/index.js
views/components/ShoppingCart/index.js
views/components/ShoppingAddrModal/index.js
views/components/ShoppingAddItemPage/index.js
views/components/RegisterForm/index.js
views/components/ChatModal/index.js
views/components/BookingInfoPage/index.js
views/components/AuditUserTable/index.js
views/components/AuditSearchPage/index.js
views/components/AuditRecordTable/index.js
views/components/AuditPage/index.js
views/components/AuditLatestRecordPage/index.js
views/components/AdminWelcomePage/index.js
views/components/AdminVerifyDetail/index.js
views/components/AdminVerify/index.js
views/components/AdminRegisterPage/index.js
views/components/AdminJudgement/index.js
views/components/AdminAddAuditorPage/index.js
views/components/AdminAddAdminPage/index.
views/components/AccountRecordTable/index.js
views/components/AccountRecordPage/index.js
views/common/cascaders.js
views/components/AdminAddAdminPage/index.js