@import "normalize.css";

html {
  font-size: 10px;
}

body {
  font-size: 1.6em;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "Wenquanyi Micro Hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
}
