@keyframes goIn {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: -8px;
    bottom: 15px;
  }
  100% {
    left: -16px;
    bottom: 10px;
  }
}

.cart {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all .8s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .ant-badge {
    height: 30px;
    width: 100px;
    margin-top: 20px;
    float: left;
    background-color: #f50;
  }
  .chatText {
    color: #f50;
    font-size: 18px;
    height: 30px;
    width: 100px;
    &:hover {
      background-color: #f50;
      color: white;
      border-radius: 24px;
    }
  }
  .inner {
    color: #f50;
    position: absolute;
    height: 50px;
    right: 100px;
    padding-right: 20px;
    .cartIcon {
      display: inline-block;
      cursor: pointer;
      width: 180px;
      height: 48px;
      text-align: center;
      &:hover {
        background-color: #f50;
        color: white;
        border-radius: 24px;
        .counter {
          background-color: white;
          color: #f50;
          animation: goIn 1s;
          animation-direction: normal;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
      }
    }
    .viewCart {
      font-size: 20px;
      line-height: 48px;
      margin-left: .5em;
    }
    .counter {
      position: relative;
      display: inline-block;
      background-color: #f50;
      color: white;
      height: 16px;
      width: 16px;
      border-radius: 8px;
      text-align: center;
      line-height: 16px;
    }
    button {
      font-size: 14px;
      height: 40px;
      width: 100px;
      margin-left: 20px;
      vertical-align: middle;
      margin-top: -10px;
    }
    i {
      font-size: 25px;
      line-height: 50px;
    }
  }
  &.show {
    display: block;
  }
}

.pricer {
  font-size: 20px;
  margin-left: 20px;
}
