.container {
  margin: 30px 10px 10px 60px;

  .searchtext {
    font-size: 15px;
    //margin-right: 30px;
  }
  .user {

  }
  .passwd {

  }
  .mobile {

  }
}
.under {
  margin: 70px 40px 40px 300px;
}

