.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  border: #eeeeee solid 1px;
  height: 88%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 40px;
  margin-right: 40px;

  .mainTitle {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 5%;
  }

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: solid #eee 1px;

    .row {
      font-size: 1rem;

      .editTitle {
        display: inline-block;
        margin: 2% 5%;
        width: 25%;
        text-align: right;

      }
    }
  }
}
