.container {
  padding: 1rem 5%;

  .picker {
    width: 30%;
    border-top: solid 1px #c3c3c3;
    border-left: solid 1px #c3c3c3;
    border-right: solid 1px #c3c3c3;
    border-radius: 2px;
  }

  .picker:hover {
    border-color: #d25f77;
  }

  .button {
    margin-left: 5%;
  }

  .wrapper {
    margin-top: 1rem;
  }
}
