.dragger {
  height: 150px;
}

.hint {
  margin-top: 30px;
  color: #aaa;
}

.error{
  width: 100%;
  color: #aaa;
  text-align: center;
}

.confirm {
  margin-left: 10px;
  margin-bottom: 8px;
  margin-top: 10px;
  width: 348px;
  height: 32px;
}
