.container {
  background-color: #ffffff;
  padding: 5%;

  .upperHalf {
    .info {
      width: 50%;
      border-right: solid #aaa 1px;
      padding: 0 5%;
      float: left;
      .greeting {
        font-size: 1.6rem;
      }
      .lastLogin {
        font-size: 1rem;
        line-height: 2.5rem;
      }
    }
    .balance {
      width: 50%;
      padding: 0 5%;
      float: right;
      .balanceTitle {
        font-size: 1rem;
        line-height: 2.5rem;
      }
      .balanceLower{
        .balanceValue {
          float: left;
          width: 40%;
          .balanceHead {
            position: relative;
            bottom: 0;
            color: #c63655;
            font-size: 1.6rem;
            line-height: 2rem;
          }
          .balanceTail {
            position: relative;
            color: #c63655;
            font-size: 1rem;
          }
        }
        .balanceOperation {
          height: 2rem;
          .withdrawal {
            margin-left: 5%;
          }
        }
      }
    }
  }
  .horizontalBar {
    height: 1px;
    background-color: #aaaaaa;
    clear: both;
  }
  .lowerHalf {
    padding: 3% 5%;
    .title {
      font-size: 1.2rem;
      line-height: 3rem;
    }
  }
}
