.container {
  background-color: #ffffff;
  padding: 2rem 5%;

  .upperHalf {
    padding-bottom: 1rem;
    .info {
      width: 50%;
      border-right: solid #aaa 1px;
      padding: 0 5%;
      float: left;
      .greeting {
        font-size: 1.6rem;
        line-height: 2rem;
      }
      .lastLogin {
        display: inline-block;
        font-size: 15px;
        margin-top: 15px;
      }
      .logout {
        margin-left: 20px;
        font-size: 15px;
      }
    }
    .balance {
      width: 50%;
      padding: 0 5%;
      float: right;
      .balanceTitle {
        font-size: 1rem;
        line-height: 2rem;
      }
      .balanceLower{
        .balanceValue {
          float: left;

          .balanceHead {
            position: relative;
            bottom: 0;
            color: #c63655;
            font-size: 1.6rem;
            line-height: 2rem;
          }
          .balanceTail {
            position: relative;
            color: #c63655;
            font-size: 1rem;
          }
        }
        .balanceOperation {
          float: left;
          margin-left: 20px;
          padding-top: 10px;
          .withdrawal {
            margin-left: 5%;
          }
        }
      }
    }
  }
  .horizontalBar {
    height: 1px;
    background-color: #aaaaaa;
    clear: both;
  }
  .lowerHalf {
    padding: 2rem 5%;
    .title {
      font-size: 1.2rem;
      line-height: 3rem;
    }
  }
}
