.shoppingInfoCard {
  max-width: 300px;
  margin: 0 30px 30px;

  .itemImageDiv {
    width: 100%;
  }
  .itemName {
    font-size: 16px;
  }
  .sellerName {
  }
  .price {
    padding-top: 0px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: #C23456;
  }
  button {
    float: right;
    margin: 15px;
  }
}
