.shoppingInfoCard {
      width: 80%;
      margin: 2rem 10%;

      .itemImageDiv{
        width: 100%;
      }
      .itemName{
        font-size: 1rem;
        font-type: sans-serif;
      }
      .sellerName{
      }
      .price{
        font-size: 1rem;
        font-weight: bold;
        float: left;
        color: #C23456;
      }
      .button {
        float: right;
      }
}
