
  .itemImage{
        width: 180px;
      }
      .itemName{
        font-size: 25px;
        font-type: sans-serif;
        font-weight: bold;
      }
      .sellerName{
        font-size: 15px;
      }
      .price{
        font-size: 20px;
        font-weight: bold;
        float: right;
        color: #C23456;
      }
.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 10px;
}
.custom-card p {
  color: #999;
}