.container {
  height: 90%;
  margin: 1rem 5%;

  display: flex;
  flex-direction: column;

  .row {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid #aaa 1px;
  }
  .row:nth-child(1) {
    border-top: solid #aaa 1px;
  }
}
