/* 导航栏 */
.ant-menu-horizontal > .ant-menu-item-selected > a,
.ant-menu-horizontal > .ant-menu-item-selected > a:active,
.ant-menu-horizontal > .ant-menu-item-selected > a:hover,
.ant-menu-horizontal > .ant-menu-item-selected > a:focus,
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:active,
.ant-menu-item-selected > a:hover,
.ant-menu-item-selected > a:focus {
  color: #c63555;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  padding-left: 30px;
  padding-right: 30px;
}
.ant-menu-inline > .ant-menu-item {
  height: 82px;
  line-height: 62px;
  padding-left: 0px !important;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ant-menu-inline > .ant-menu-item > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 16px;
}
.ant-menu-item > a {
  font-size: 16px;
}
/* 文本框样式 */
.ant-input {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #c3c3c3;
}

.ant-input-group-addon, .ant-input-lg {
  font-size: 16px;
}

.ant-input:hover {
  border-color: #d25f77;
}

.ant-input:focus {
  border: 0;
  border-bottom: solid 1px #c63655;
  box-shadow: none;
}

.ant-input-group-addon {
  background-color: inherit;
  border: none;
  border-radius: 0px;
}

/* 按钮 */
.ant-btn {
  border-radius: 2px;
}

.ant-btn-lg {
  border-radius: 2px;
  padding: 10px 100px;
  font-size: 16px;
}
