/* 导航栏 */
.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #c63555;
}
/* 文本框样式 */
.ant-input {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #c3c3c3;
}

.ant-input-group-addon, .ant-input-lg {
  font-size: 16px;
}

.ant-input:hover {
  border-color: #d25f77;
}

.ant-input:focus {
  border: 0;
  border-bottom: solid 1px #c63655;
  box-shadow: none;
}

.ant-input-group-addon {
  background-color: inherit;
  border: none;
  border-radius: 0px;
}

/* 按钮 */
.ant-btn {
  border-radius: 2px;
}

.ant-btn-lg {
  border-radius: 2px;
  padding: 10px 130px;
  font-size: 16px;
}
