.btn {
  margin-top: 10px;
}

.bottomLeft {
  position: absolute;
  left: 15px;
  bottom: 15px;
  a {
    color: #c63555;
    font-size: 14px;
  }
}

.bottomRight {
  position: absolute;
  right: 15px;
  bottom: 15px;
  a {
    color: #c63555;
    font-size: 14px;
  }
}

.formItem {
  margin-top: -10px;
}

.hint {
  margin-top: -20px;
  color: #aaa;
}
