.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .itemName {
          width: 300px;
          font-type: sans-serif;
    }
    .itemImage {
          width: 100px;
    }   
    .itemPrice{
            font-weight: bold;
            color: #eeeee;
    }
    .itemTotalCost{
            font-weight: bold;
            color: #C23456;
    }

}
