.container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .orderTable {
    width: 850px;
    text-align: left;

    th {
      font-size: 20px;    
    }

    td {
      font-size: 15px;    
    }
  }

}
